{{>layouts/header}}

<h1>Welcome, {{user.realName}}!</h1>
<p>Email: {{user.email}}</p>
<p>Phone Number: {{user.phoneNumber}}</p>
<p>Address: {{user.address}}</p>

<h2>Your Profile</h2>

{{>layouts/footer}}