{{>layouts/header}}
<p>이용 안내 창입니다. 잘 이용하시면 됩니다.</p>
<button type="submit" class="btn btn-primary mt-3" id="submitButton"><a href="/mainpage" style="color:black;">메인 페이지로 돌아가기</a></button>
{{>layouts/footer}}